@import url("../../variables.css");

#addProjectTitle {
    margin: 0 !important;
}
.new-project-form{
    margin: 20px auto 0 auto !important;
    display: none;
    max-width: 240px !important;
}
.new-project-form .input-text {
    border-bottom: 1px solid var(--gris2);
    border-radius: 0;
    background-color: var(--gris1);
}
.new-project-form .input-text::placeholder{
    color: var(--gris2);
}