@import url("variables.css");

*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;
  height: 100%;
}
body {
  margin: 0 !important;
  min-height: 100%;
  background-color: var(--gris1);
  font-size: 1rem;
  font-family: var(--textFont);
}

h1, h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--gris2);
}
h1 span {
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: var(--gris2);
  text-decoration: none;
  text-decoration: underline;
  transition: ease-in-out .5s;
}
a:hover {
  color: var(--black);
  text-decoration: underline;
}

/** Buttons **/
.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease;
}
.btn:hover {
  cursor: pointer;
}
.btn-primary {
  background-color: var(--gris2) !important;
  color: var(--white) !important;
}
.btn-primary:hover {
  background: var(--gris3) !important;
}
.btn-secundary {
  background-color: var(--gris1);
}
.btn-danger {
  background-color: var(--red1) !important;
  color: var(--white) !important;
}
.btn-danger:hover {
  background-color: var(--red2) !important;
}
.btn-block {
  display: block;
  width: 100%;
  margin: 0 !important;

}
.btn-submit:hover {
  background-color: var(--gris2);
}
.btn-blank {
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
  background-color: transparent !important;
}

/* Global Clases */
.flex-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mg-right {
  margin-right: 10px !important;
}
.mg-left {
  margin-left: 10px !important;
}
.mg-bottom-md {
  margin-bottom: 20px !important;
}
.mg-bottom-lg {
  margin-bottom: 2rem !important;
}
.mg-top-lg {
  margin-top: 2rem !important;
}

/** FormTask **/
.custom-form {
  background-color: var(--gris3);
  padding: 2rem 0;
}
.custom-form form {
  max-width: 600px;
  margin: 0 auto;
}
.input-container {
  display: flex;
}
.input-container label {
  margin-bottom: 1rem;
  color: var(--white);
}

/* Animations */
.task-enter,
.project-enter {
  opacity: 0;
}
.task-enter-active,
.project-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.task-exit,
.project-exit {
  opacity: 1;
}
.task-exit-active,
.project-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

/* Forms */
.form-container {
    padding: 1rem;
    background-color: var(--white);
    border-radius: 1rem;
}

.form-field {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}