:root {
    --white: #ffffff;
    --gris1: #edf2f6;
    --gris2: #2f3848;
    --gris3: #1a202d;
    --black: #000000;
    --red1: #c41010;
    --red2: #a81313;
    --headingFont:'Raleway', sans-serif;
    --textFont:  'Roboto', sans-serif;
}